openapi: 3.0.3

info:
  title: WellSpent Public REST API
  version: 1.0.0
  license:
    name: Proprietary
    url: https://bewellspent.com
  description: |
    The parts of the WellSpent API that return the **same response for every
    caller** and change rarely.

    Everything else — all personalized reads and every mutation — stays on
    ConnectRPC (`buf.build/bewellspent/wellspent`). Transport follows data
    shape: a response that is identical for everyone should be cacheable by
    the browser and by a CDN, and Connect's unary-POST framing makes that
    impossible. A response scoped to one user gains nothing from HTTP caching
    and everything from a shared typed schema.

    Read `openapi/README.md` in this repo before adding an endpoint here.

servers:
  - url: https://api.bewellspent.com
    description: Production
  - url: http://localhost:8080
    description: Local development

tags:
  - name: meta
    description: Infrastructure probes.
  - name: reference
    description: Global reference data.
  - name: status
    description: |
      Operator-authored service status. The public GET was always here; the
      superuser-only write paths (create/list/expire) are new, converted from
      `StatusService` in status.proto as part of the C#/.NET rewrite (issue
      #78/#81) — see openapi/README.md's "Two eras, one file". The Go backend
      keeps serving the public read over Connect-adjacent REST and the writes
      over Connect until the rewrite's clients cut over.
  - name: changelog
    description: |
      Release notes. The authenticated GET was always here; the superuser-only
      create path is new, converted from `ChangelogService` in changelog.proto
      as part of the C#/.NET rewrite (issue #78/#81) — see openapi/README.md's
      "Two eras, one file".
  - name: auth
    description: |
      Part of the C#/.NET rewrite's full REST contract (issue #78/#80) — see
      openapi/README.md's "Two eras, one file". Converted 1:1 from
      `AuthService` in `auth.proto`; the Go backend keeps serving these over
      Connect until the rewrite's clients cut over. Every endpoint here is
      public — no session exists yet.
  - name: users
    description: |
      Part of the C#/.NET rewrite's full REST contract (issue #78/#80).
      Converted 1:1 from `UserService` in `user.proto`. Every endpoint here
      requires bearerAuth and operates on the caller's own account only.
  - name: notifications
    description: |
      Part of the C#/.NET rewrite's full REST contract (issue #78/#82).
      Converted 1:1 from `NotificationService` in `notification.proto`. The
      trigger/fan-out side (firing a notification when a transaction is
      created, a period starts, etc.) isn't here — those arrive with
      whichever sub-issue ports the triggering domain.
  - name: invites
    description: |
      Part of the C#/.NET rewrite's full REST contract (issue #78/#82).
      Converted 1:1 from `InviteService` in `invite.proto`. Every endpoint
      except the public token lookup requires bearerAuth; send/list/cancel
      additionally require the caller to be an admin on the budget.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The same JWT issued by `AuthService/Login`. Identical verification to the Connect interceptor.

  parameters:
    IfNoneMatch:
      name: If-None-Match
      in: header
      required: false
      description: Return `304 Not Modified` when the entity tag still matches.
      schema:
        type: string

  headers:
    ETag:
      description: Entity tag for conditional requests.
      schema:
        type: string
    CacheControl:
      description: Caching policy for this response.
      schema:
        type: string

  responses:
    NotModified:
      description: The cached copy is still current.
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
        Cache-Control:
          $ref: '#/components/headers/CacheControl'
    RateLimited:
      description: |
        Too many requests from this IP. The rate limiter wraps every route on
        the mux, REST and Connect alike, so any endpoint here can return this.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: The resource already exists (e.g. an email address already in use).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotImplemented:
      description: Mirrors the Go backend's RefreshToken, which also returns Unimplemented — not a gap introduced by the rewrite.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Stable, machine-readable reason.
          example: unauthenticated
        message:
          type: string
          description: Human-readable detail. Not for display to end users.
      description: |
        Mirrors the shape `internal/handler/errors.go` produces for Connect, so
        both transports fail the same way.

    CountryFeature:
      type: object
      required: [name, isEnabled]
      properties:
        name:
          type: string
          example: before_tax_income
        isEnabled:
          type: boolean

    Country:
      type: object
      required: [code, name, isEnabled, features]
      properties:
        code:
          type: string
          description: ISO 3166-1 alpha-2.
          example: US
        name:
          type: string
          example: United States
        isEnabled:
          type: boolean
        features:
          type: array
          items:
            $ref: '#/components/schemas/CountryFeature'

    CountriesResponse:
      type: object
      required: [countries]
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'

    StatusBannerSeverity:
      type: string
      enum: [info, warning, critical]
      description: |
        Ordered: when more than one banner is live, the highest severity wins,
        then the most recently created. `info` and `warning` are dismissable
        per device; `critical` is not.

    StatusBanner:
      type: object
      required: [id, severity, messageEn, messageEs, startsAt, endsAt, createdAt]
      properties:
        id:
          type: string
          format: uuid
        severity:
          $ref: '#/components/schemas/StatusBannerSeverity'
        messageEn:
          type: string
          maxLength: 300
        messageEs:
          type: string
          maxLength: 300
          description: Empty means clients fall back to the English text.
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    StatusBannerResponse:
      type: object
      properties:
        banner:
          $ref: '#/components/schemas/StatusBanner'
      description: |
        `banner` is absent when nothing is live. Deliberately a successful
        empty response rather than a 404 — every client calls this on every
        load and the quiet case is overwhelmingly the common one.

    ChangelogComponent:
      type: string
      enum: [web, ios, server]
      description: One per shipping artifact. Background jobs ship inside the server image and have no separately visible version.

    ChangeType:
      type: string
      enum: [added, fixed, changed]

    ChangelogItem:
      type: object
      required: [changeType, summaryEn, summaryEs]
      properties:
        changeType:
          $ref: '#/components/schemas/ChangeType'
        summaryEn:
          type: string
          maxLength: 300
        summaryEs:
          type: string
          maxLength: 300
          description: Empty means clients fall back to the English text.

    ChangelogRelease:
      type: object
      required: [id, component, version, releasedAt, items, createdAt]
      properties:
        id:
          type: string
          format: uuid
        component:
          $ref: '#/components/schemas/ChangelogComponent'
        version:
          type: string
          description: As that component spells it — semver for web and server, `MARKETING_VERSION` for iOS.
          example: 1.30.0
        releasedAt:
          type: string
          format: date-time
          description: When the version reached users, which is not when the row was written.
        items:
          type: array
          items:
            $ref: '#/components/schemas/ChangelogItem'
          description: In the order the operator wrote them. Grouping by changeType is left to clients.
        createdAt:
          type: string
          format: date-time

    ChangelogResponse:
      type: object
      required: [releases, currentServerVersion]
      properties:
        releases:
          type: array
          items:
            $ref: '#/components/schemas/ChangelogRelease'
          description: Newest first within each component.
        currentServerVersion:
          type: string
          description: |
            What this server build calls itself. A client knows its own version
            but cannot otherwise tell how far the backend has moved since it
            last looked.
          example: 1.1.0

    # ── status/changelog writes (C#/.NET rewrite — see the "status"/"changelog"
    #    tags and openapi/README.md's "Two eras, one file") ────────────────────

    CreateStatusBannerRequest:
      type: object
      required: [severity, messageEn, endsAt]
      properties:
        severity:
          $ref: '#/components/schemas/StatusBannerSeverity'
        messageEn:
          type: string
          maxLength: 300
        messageEs:
          type: string
          maxLength: 300
          description: Optional. Falls back to the English text on clients when empty.
        startsAt:
          type: string
          format: date-time
          description: Optional — defaults to now, so the common case of "announce this immediately" needs no timestamp arithmetic under pressure.
        endsAt:
          type: string
          format: date-time
          description: Required, and must be after startsAt and in the future.

    StatusBannerListResponse:
      type: object
      required: [banners]
      properties:
        banners:
          type: array
          items:
            $ref: '#/components/schemas/StatusBanner'
          description: The operator's full history, including expired rows — not the client-facing view.

    CreateChangelogItemRequest:
      type: object
      required: [changeType, summaryEn]
      properties:
        changeType:
          $ref: '#/components/schemas/ChangeType'
        summaryEn:
          type: string
          maxLength: 300
        summaryEs:
          type: string
          maxLength: 300
          description: Optional. Falls back to the English text on clients when empty.

    CreateChangelogReleaseRequest:
      type: object
      required: [component, version, items]
      properties:
        component:
          $ref: '#/components/schemas/ChangelogComponent'
        version:
          type: string
          maxLength: 40
        releasedAt:
          type: string
          format: date-time
          description: Optional — defaults to now, since publishing normally happens at release.
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/CreateChangelogItemRequest'
          description: At least one required. A release with nothing to say should not be published.

    ChangelogReleaseResponse:
      type: object
      required: [release]
      properties:
        release:
          $ref: '#/components/schemas/ChangelogRelease'

    # ── notifications / invites (C#/.NET rewrite — see the "notifications"/
    #    "invites" tags and openapi/README.md's "Two eras, one file") ─────────

    Notification:
      type: object
      required: [id, userId, alertType, title, isRead, createdAt]
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        budgetProfileId:
          type: string
          format: uuid
          nullable: true
        alertType:
          type: string
          description: Matches AlertSubscription.alertType values.
        title:
          type: string
        body:
          type: string
          nullable: true
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time

    ListNotificationsResponse:
      type: object
      required: [notifications, unreadCount]
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        unreadCount:
          type: integer

    MarkNotificationsReadRequest:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            format: uuid
          description: Empty (or omitted) marks ALL of the caller's unread notifications as read.

    UnreadCountResponse:
      type: object
      required: [count]
      properties:
        count:
          type: integer

    AlertSubscription:
      type: object
      required: [id, userId, budgetProfileId, alertType, channel, notifyAllMembers, createdAt]
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        budgetProfileId:
          type: string
          format: uuid
        alertType:
          type: string
          description: 'One of: new_transaction, spending_threshold, period_created, review_pending. Not enforced as an enum server-side — mirrors the Go service exactly.'
        channel:
          type: string
          description: 'One of: email, in_app, both. Not enforced as an enum server-side.'
        thresholdPct:
          type: number
          nullable: true
          description: 0-100; only meaningful when alertType is spending_threshold.
        thresholdScope:
          type: string
          nullable: true
          description: '"budget" or "category"; only meaningful for spending_threshold.'
        categoryId:
          type: integer
          nullable: true
        notifyAllMembers:
          type: boolean
          description: When true, the notification is fanned out to all active budget members.
        createdAt:
          type: string
          format: date-time

    AlertSubscriptionListResponse:
      type: object
      required: [subscriptions]
      properties:
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/AlertSubscription'

    UpsertAlertSubscriptionRequest:
      type: object
      required: [budgetProfileId, alertType, channel, notifyAllMembers]
      properties:
        budgetProfileId:
          type: string
          format: uuid
        alertType:
          type: string
        channel:
          type: string
        thresholdPct:
          type: number
          description: Only meaningful when alertType is spending_threshold; ignored otherwise.
        thresholdScope:
          type: string
        categoryId:
          type: integer
          nullable: true
        notifyAllMembers:
          type: boolean

    AlertSubscriptionResponse:
      type: object
      required: [subscription]
      properties:
        subscription:
          $ref: '#/components/schemas/AlertSubscription'

    RegisterDeviceTokenRequest:
      type: object
      required: [token, platform]
      properties:
        token:
          type: string
        platform:
          type: string
          enum: [ios]

    BudgetInviteRole:
      type: string
      enum: [admin, collaborator, viewer]
      description: SendBudgetInviteRequest only accepts collaborator/viewer — admin is rejected at write time, not narrowed out of this enum, matching the Go service's runtime check.

    InviteStatus:
      type: string
      enum: [pending, accepted, cancelled, expired]

    BudgetInvite:
      type: object
      required: [id, budgetProfileId, budgetName, inviterName, email, role, status, expiresAt, createdAt]
      properties:
        id:
          type: string
          format: uuid
        budgetProfileId:
          type: string
          format: uuid
        budgetName:
          type: string
          description: Denormalized for display. Empty on sendBudgetInvite/listBudgetInvites (the caller already knows their own budget); populated only on getBudgetInvite, the public preview page.
        inviterName:
          type: string
          description: Same emptiness rule as budgetName.
        email:
          type: string
          format: email
        role:
          $ref: '#/components/schemas/BudgetInviteRole'
        status:
          $ref: '#/components/schemas/InviteStatus'
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        budgetPersonId:
          type: integer
          format: int64
          nullable: true
          description: Non-null when linked to an existing placeholder person rather than creating a new one on acceptance.

    SendBudgetInviteRequest:
      type: object
      required: [budgetProfileId, email, role]
      properties:
        budgetProfileId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
          enum: [collaborator, viewer]
        budgetPersonId:
          type: integer
          format: int64
          nullable: true
          description: Omit or 0 to create a new BudgetPerson on acceptance.

    BudgetInviteResponse:
      type: object
      required: [invite]
      properties:
        invite:
          $ref: '#/components/schemas/BudgetInvite'

    BudgetInviteListResponse:
      type: object
      required: [invites]
      properties:
        invites:
          type: array
          items:
            $ref: '#/components/schemas/BudgetInvite'

    AcceptBudgetInviteResponse:
      type: object
      required: [budgetProfileId]
      properties:
        budgetProfileId:
          type: string
          format: uuid
          description: So the frontend can redirect to the budget.

    PingResponse:
      type: object
      required: [status, serverVersion]
      properties:
        status:
          type: string
          enum: [ok]
        serverVersion:
          type: string

    # ── auth / users (C#/.NET rewrite — see the "auth"/"users" tags) ──────────

    TokenResponse:
      type: object
      required: [accessToken, tokenType, expiresIn]
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
          enum: [bearer]
        expiresIn:
          type: integer
          format: int64
          description: Seconds until the token expires.

    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName, countryCode, stateCode, language, currency, captchaToken]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          description: '≥8 characters, at least one uppercase, lowercase, digit, and special character.'
        firstName:
          type: string
        lastName:
          type: string
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2, e.g. "US". Empty for none.
        stateCode:
          type: string
          description: US only, e.g. "CA". Empty for non-US.
        language:
          type: string
          description: BCP 47 locale code. Empty defaults to "en".
        currency:
          type: string
          description: ISO 4217 currency code. Empty defaults to "USD".
        captchaToken:
          type: string
          description: Cloudflare Turnstile response token. Only enforced when the server has captcha enforcement enabled.

    LoginRequest:
      type: object
      required: [email, password, rememberMe]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        rememberMe:
          type: boolean
          description: true issues a 90-day token; false (default) issues a 24-hour token.

    LoginResponse:
      type: object
      required: [accessToken, tokenType, expiresIn, language, currency]
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
          enum: [bearer]
        expiresIn:
          type: integer
          format: int64
        language:
          type: string
          description: The user's stored locale preference.
        currency:
          type: string
          description: The user's stored currency preference.

    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string

    GoogleAuthUrlResponse:
      type: object
      required: [url]
      properties:
        url:
          type: string

    GoogleExchangeRequest:
      type: object
      required: [code, redirectUri, language, currency]
      properties:
        code:
          type: string
        redirectUri:
          type: string
        language:
          type: string
          description: Used for new users only.
        currency:
          type: string
          description: Used for new users only.

    OAuthSignInResponse:
      type: object
      required: [accessToken, expiresIn, isNewUser, language, currency]
      properties:
        accessToken:
          type: string
        expiresIn:
          type: integer
          format: int64
        isNewUser:
          type: boolean
        language:
          type: string
          description: New user — from the request. Returning user — from their stored profile.
        currency:
          type: string
          description: New user — from the request. Returning user — from their stored profile.

    AppleSignInRequest:
      type: object
      required: [identityToken, authorizationCode, firstName, lastName, language, currency]
      properties:
        identityToken:
          type: string
          description: Apple id_token (RS256 JWT) from ASAuthorizationAppleIDCredential — verified server-side against Apple's JWKS.
        authorizationCode:
          type: string
          description: One-time code, exchanged server-side for a refresh token so the account can be revoked on deletion.
        firstName:
          type: string
          description: Apple supplies the name only on the very first authorization, never again — persisted on first link.
        lastName:
          type: string
        language:
          type: string
          description: Used for new users only — defaults to "en".
        currency:
          type: string
          description: Used for new users only — defaults to "USD".

    VerifyEmailRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string

    VerifyEmailResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean

    ResendVerificationEmailRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    UserPlan:
      type: string
      enum: [free, pro, lifetime]

    User:
      type: object
      required: [id, email, isActive, isVerified, createdAt, filingStatus, taxPaymentFrequency, language, currency, plan, hasApplePrivateEmail]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        isActive:
          type: boolean
        isVerified:
          type: boolean
          description: Whether this account may use the app — already accounts for the test-account exemption. Clients gate on this and nothing else.
        createdAt:
          type: string
          format: date-time
        countryCode:
          type: string
          nullable: true
          description: ISO 3166-1 alpha-2, e.g. "US".
        stateCode:
          type: string
          nullable: true
          description: US only, e.g. "CA".
        filingStatus:
          type: integer
          description: 'Proto FilingStatus enum value: 0=unspecified, 1=single, 2=married_filing_jointly, 3=married_filing_separately, 4=head_of_household, 5=qualifying_surviving_spouse.'
        taxPaymentFrequency:
          type: integer
          description: 'Proto TaxPaymentFrequency enum value — doubles as the window length in months: 0=unspecified, 1=monthly, 3=quarterly, 4=four_monthly, 6=semi_annual, 12=annual.'
        language:
          type: string
          description: BCP 47 locale code.
        currency:
          type: string
          description: ISO 4217 currency code.
        plan:
          $ref: '#/components/schemas/UserPlan'
        hasApplePrivateEmail:
          type: boolean
          description: True when the address is an Apple "Hide My Email" alias — clients show "Signed with Apple" rather than the address.

    GetMeResponse:
      type: object
      required: [user]
      properties:
        user:
          $ref: '#/components/schemas/User'

    UpdateMeRequest:
      type: object
      required: [firstName, lastName, countryCode, stateCode, filingStatus, taxPaymentFrequency, language, currency]
      description: |
        Full profile replace, not a partial patch: firstName/lastName/
        countryCode/stateCode are cleared to null when sent empty rather than
        left unchanged, and every other field is always written as given.
      properties:
        firstName:
          type: string
        lastName:
          type: string
        countryCode:
          type: string
        stateCode:
          type: string
        filingStatus:
          type: integer
        taxPaymentFrequency:
          type: integer
        language:
          type: string
        currency:
          type: string

    UpdateMeResponse:
      type: object
      required: [user]
      properties:
        user:
          $ref: '#/components/schemas/User'

    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string

    ChangeEmailRequest:
      type: object
      required: [newEmail]
      properties:
        newEmail:
          type: string
          format: email

    ChangeEmailResponse:
      type: object
      required: [user]
      description: The updated user, with isVerified now false.
      properties:
        user:
          $ref: '#/components/schemas/User'

    BudgetCycle:
      type: string
      enum: [weekly, bi_weekly, monthly, yearly]

    BudgetPersonRole:
      type: string
      enum: [admin, collaborator, viewer, unspecified]
      description: unspecified means the person isn't linked to a registered user yet.

    ChartType:
      type: string
      enum: [pie, bar]
      nullable: true
      description: Null means "use the client default" (pie).

    BudgetProfile:
      type: object
      required: [id, userId, name, cycle, carryoverEnabled, autoUpdatePlannedAmount]
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        name:
          type: string
        cycle:
          $ref: '#/components/schemas/BudgetCycle'
        countryCode:
          type: string
          nullable: true
          description: Propagated from the owner at creation.
        carryoverEnabled:
          type: boolean
          description: When true, closing a period carries its ending balance into the next one. Admin-only to toggle.
        autoUpdatePlannedAmount:
          type: boolean
          description: When true, marking a fixed expense paid at a different amount rewrites its template for future periods. Admin-only to toggle.

    BudgetPeriod:
      type: object
      required: [id, budgetProfileId, startDate, endDate, isArchived]
      properties:
        id:
          type: string
          format: uuid
        budgetProfileId:
          type: string
          format: uuid
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        isArchived:
          type: boolean

    BudgetPerson:
      type: object
      required: [id, budgetProfileId, color, role, manualMatchReviewEnabled, focusedViewEnabled]
      properties:
        id:
          type: integer
          format: int64
        budgetProfileId:
          type: string
          format: uuid
        userName:
          type: string
          nullable: true
        userId:
          type: string
          format: uuid
          nullable: true
          description: Null when the person is not a registered user.
        color:
          type: string
        role:
          $ref: '#/components/schemas/BudgetPersonRole'
        planChartType:
          $ref: '#/components/schemas/ChartType'
        overviewChartType:
          $ref: '#/components/schemas/ChartType'
        manualMatchReviewEnabled:
          type: boolean
          description: This person's own transactions get scored against fixed expenses for a match. Personal, not budget-wide.
        focusedViewEnabled:
          type: boolean
          description: Scopes the budget to this person's own data (plus unattributed). Personal, not budget-wide.

    CreateBudgetProfileRequest:
      type: object
      required: [name, cycle]
      properties:
        name:
          type: string
        cycle:
          $ref: '#/components/schemas/BudgetCycle'

    CreateBudgetProfileResponse:
      type: object
      required: [profile]
      properties:
        profile:
          $ref: '#/components/schemas/BudgetProfile'
        period:
          $ref: '#/components/schemas/BudgetPeriod'
          description: Omitted on the rare case the first period failed to create — the profile still exists and can retry via createBudgetPeriod.

    BudgetProfileResponse:
      type: object
      required: [profile]
      properties:
        profile:
          $ref: '#/components/schemas/BudgetProfile'

    BudgetProfileListResponse:
      type: object
      required: [profiles]
      properties:
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/BudgetProfile'

    UpdateBudgetProfileRequest:
      type: object
      required: [name, cycle]
      properties:
        name:
          type: string
        cycle:
          $ref: '#/components/schemas/BudgetCycle'

    EnabledRequest:
      type: object
      required: [enabled]
      properties:
        enabled:
          type: boolean

    BudgetPeriodResponse:
      type: object
      required: [period]
      properties:
        period:
          $ref: '#/components/schemas/BudgetPeriod'

    BudgetPeriodListResponse:
      type: object
      required: [periods]
      properties:
        periods:
          type: array
          items:
            $ref: '#/components/schemas/BudgetPeriod'

    NewBudgetPerson:
      type: object
      required: [userName]
      properties:
        userName:
          type: string
        userId:
          type: string
          format: uuid
          nullable: true
          description: Set when inviting an existing registered user straight onto the budget.
        color:
          type: string

    AddBudgetPeopleRequest:
      type: object
      required: [people]
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/NewBudgetPerson'

    BudgetPersonResponse:
      type: object
      required: [person]
      properties:
        person:
          $ref: '#/components/schemas/BudgetPerson'

    BudgetPersonListResponse:
      type: object
      required: [people]
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/BudgetPerson'

    AddBudgetPeopleResponse:
      type: object
      required: [people]
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/BudgetPerson'

    UpdateBudgetPersonRequest:
      type: object
      required: [color]
      properties:
        color:
          type: string

    UpdateBudgetPersonRoleRequest:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [admin, collaborator, viewer]

    UpdateMyBudgetPreferencesRequest:
      type: object
      properties:
        planChartType:
          $ref: '#/components/schemas/ChartType'
        overviewChartType:
          $ref: '#/components/schemas/ChartType'

    # Structured rather than a plain number, matching this epic's locked wire
    # decision — existing client money-parsing code expects this shape.
    Money:
      type: object
      required: [units, nanos, currency]
      properties:
        units:
          type: integer
          format: int64
        nanos:
          type: integer
          format: int32
        currency:
          type: string
          example: USD

    IncomeType:
      type: string
      enum: [salary, hourly, freelance, contractor, investment, interest, one_time, gift, other]

    RecurringFrequency:
      type: string
      enum: [one_off, weekly, bi_weekly, monthly, yearly]

    IncomeSource:
      type: object
      required: [id, budgetProfileId, name, incomeType, defaultAmount, recurring, budgetPersonId, paymentFrequency, beforeTax]
      properties:
        id:
          type: integer
          format: int64
        budgetProfileId:
          type: string
          format: uuid
        name:
          type: string
        incomeType:
          $ref: '#/components/schemas/IncomeType'
        defaultAmount:
          $ref: '#/components/schemas/Money'
        recurring:
          type: boolean
        budgetPersonId:
          type: integer
          format: int64
          description: 0 = unattributed.
        paymentFrequency:
          $ref: '#/components/schemas/RecurringFrequency'
        beforeTax:
          type: boolean
          description: True = gross income; tax-reserve estimation applies (US only).

    IncomeEntry:
      type: object
      required: [id, budgetPeriodId, incomeSourceId, amount, budgetPersonId]
      properties:
        id:
          type: integer
          format: int64
        budgetPeriodId:
          type: string
          format: uuid
        incomeSourceId:
          type: integer
          format: int64
          description: 0 = a standalone entry not linked to a source.
        name:
          type: string
          nullable: true
          description: Denormalized from the source for display.
        amount:
          $ref: '#/components/schemas/Money'
        budgetPersonId:
          type: integer
          format: int64
          description: 0 = unattributed, denormalized from the source.

    SavingsSource:
      type: object
      required: [id, budgetProfileId, name, amount, frequency, isTaxReserve, budgetPersonId, paymentDays]
      properties:
        id:
          type: integer
          format: int64
        budgetProfileId:
          type: string
          format: uuid
        name:
          type: string
        amount:
          $ref: '#/components/schemas/Money'
          description: Per-occurrence amount (e.g. $200 per paycheck).
        frequency:
          type: string
          description: How often this saving is made. Derived from paymentDays' length, never set directly.
        isTaxReserve:
          type: boolean
          description: Auto-managed by the system; recalculated whenever income sources change (US only).
        budgetPersonId:
          type: integer
          format: int64
          description: 0 = unattributed.
        federalAmount:
          $ref: '#/components/schemas/Money'
          description: Monthly federal tax component. Tax-reserve rows only.
        stateAmount:
          $ref: '#/components/schemas/Money'
          description: Monthly state tax component. Tax-reserve rows only.
        paymentMethodId:
          type: string
          format: uuid
          nullable: true
        paymentDays:
          type: array
          items:
            type: integer
          description: Day-of-month for each scheduled transfer. Count encodes frequency (1=monthly, 2=bi-weekly, 4=weekly).

    AddIncomeSourceRequest:
      type: object
      required: [name, incomeType, defaultAmount, recurring, paymentFrequency, beforeTax]
      properties:
        name:
          type: string
        incomeType:
          $ref: '#/components/schemas/IncomeType'
        defaultAmount:
          $ref: '#/components/schemas/Money'
        recurring:
          type: boolean
        budgetPersonId:
          type: integer
          format: int64
          nullable: true
        paymentFrequency:
          $ref: '#/components/schemas/RecurringFrequency'
        beforeTax:
          type: boolean

    IncomeSourceResponse:
      type: object
      required: [source]
      properties:
        source:
          $ref: '#/components/schemas/IncomeSource'

    IncomeSourceListResponse:
      type: object
      required: [sources]
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/IncomeSource'

    IncomeEntryListResponse:
      type: object
      required: [entries]
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/IncomeEntry'

    UpdateIncomeEntryRequest:
      type: object
      required: [amount]
      description: Only the amount is editable per period; source metadata is the source of truth.
      properties:
        amount:
          $ref: '#/components/schemas/Money'

    IncomeEntryResponse:
      type: object
      required: [entry]
      properties:
        entry:
          $ref: '#/components/schemas/IncomeEntry'

    AddSavingsSourceRequest:
      type: object
      required: [name, amount, paymentDays]
      properties:
        name:
          type: string
        amount:
          $ref: '#/components/schemas/Money'
        paymentMethodId:
          type: string
          format: uuid
          nullable: true
        paymentDays:
          type: array
          items:
            type: integer
          description: Must have exactly 1, 2, or 4 entries.

    SavingsSourceResponse:
      type: object
      required: [source]
      properties:
        source:
          $ref: '#/components/schemas/SavingsSource'

    SavingsSourceListResponse:
      type: object
      required: [sources]
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SavingsSource'

    Category:
      type: object
      required: [id, name, isSystem, color]
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          description: Always English, even for a system category. A client renders a system category's name from systemKey via its own catalog, falling back to this value when systemKey is null or unrecognized.
        isSystem:
          type: boolean
          description: System categories cannot be deleted, and only their color can be changed.
        color:
          type: string
        systemKey:
          type: string
          nullable: true
          description: Stable language-independent identity (e.g. "groceries", "income"). Null for a user-created category.

    CategoryResponse:
      type: object
      required: [category]
      properties:
        category:
          $ref: '#/components/schemas/Category'

    CategoryListResponse:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'

    CreateCategoryRequest:
      type: object
      required: [name, color]
      properties:
        name:
          type: string
        color:
          type: string

    PaymentType:
      type: string
      enum: [unspecified, cash, credit, debit, digital_wallet, bank_transfer, crypto, investment, other]

    PaymentMethod:
      type: object
      required: [id, name, type, budgetPersonId, color, alias]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          $ref: '#/components/schemas/PaymentType'
          description: Immutable after creation.
        budgetPersonId:
          type: integer
          format: int64
          description: 0 = unattributed.
        color:
          type: string
        alias:
          type: string
          description: User-defined display name; overrides name in the UI when set. Empty = unset.

    PaymentMethodResponse:
      type: object
      required: [method]
      properties:
        method:
          $ref: '#/components/schemas/PaymentMethod'

    PaymentMethodListResponse:
      type: object
      required: [methods]
      properties:
        methods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethod'

    CreatePaymentMethodRequest:
      type: object
      required: [name, type, budgetPersonId, color]
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/PaymentType'
        budgetPersonId:
          type: integer
          format: int64
          description: Required — must not be 0.
        color:
          type: string

    UpdatePaymentMethodRequest:
      type: object
      required: [name, color]
      properties:
        name:
          type: string
        color:
          type: string
        alias:
          type: string
          nullable: true
          description: Omit or send an empty string to clear the alias.

    ExpenseType:
      type: string
      enum: [unspecified, fixed, variable]

    Transaction:
      type: object
      required: [id, amount, plannedAmount, categoryId, transactionFrequency, transactionType, isPaid, isExcluded, isPlaidImported]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        amount:
          $ref: '#/components/schemas/Money'
          description: Actual paid amount (set when isPaid is true); equals plannedAmount otherwise.
        plannedAmount:
          $ref: '#/components/schemas/Money'
        date:
          type: string
          format: date
          nullable: true
        renewalDate:
          type: string
          format: date
          nullable: true
        budgetPeriodId:
          type: string
          format: uuid
          nullable: true
        categoryId:
          type: integer
          format: int32
          description: 0 = unset.
        paymentMethodId:
          type: string
          format: uuid
          nullable: true
        transactionFrequency:
          $ref: '#/components/schemas/RecurringFrequency'
        transactionType:
          $ref: '#/components/schemas/ExpenseType'
        isPaid:
          type: boolean
        paidAt:
          type: string
          format: date
          nullable: true
        fixedExpenseId:
          type: string
          format: uuid
          nullable: true
          description: Set when spawned from a FixedExpense template.
        isExcluded:
          type: boolean
        isPlaidImported:
          type: boolean
          description: When true, only categoryId may be changed via updateTransaction.
        installmentFixedExpenseId:
          type: string
          format: uuid
          nullable: true
          description: Set when this transaction was converted into an installment plan. Also isExcluded.
        carriedFromBudgetPeriodId:
          type: string
          format: uuid
          nullable: true
          description: Set when generated by carrying a closed period's ending balance into this one.

    TransactionResponse:
      type: object
      required: [transaction]
      properties:
        transaction:
          $ref: '#/components/schemas/Transaction'

    TransactionListResponse:
      type: object
      required: [transactions]
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'

    CreateTransactionRequest:
      type: object
      required: [amount, plannedAmount]
      properties:
        name:
          type: string
          nullable: true
        amount:
          $ref: '#/components/schemas/Money'
        plannedAmount:
          $ref: '#/components/schemas/Money'
        date:
          type: string
          format: date
          nullable: true
        renewalDate:
          type: string
          format: date
          nullable: true
        budgetPeriodId:
          type: string
          format: uuid
          nullable: true
        categoryId:
          type: integer
          format: int32
          nullable: true
        paymentMethodId:
          type: string
          format: uuid
          nullable: true
        transactionFrequency:
          $ref: '#/components/schemas/RecurringFrequency'
        transactionType:
          $ref: '#/components/schemas/ExpenseType'

    UpdateTransactionRequest:
      type: object
      required: [amount, plannedAmount]
      description: A full edit, except once the transaction's period has archived or it is Plaid-imported — then only categoryId may actually change; every other field must be resubmitted unchanged.
      properties:
        name:
          type: string
          nullable: true
        amount:
          $ref: '#/components/schemas/Money'
        plannedAmount:
          $ref: '#/components/schemas/Money'
        date:
          type: string
          format: date
          nullable: true
        categoryId:
          type: integer
          format: int32
          nullable: true
        paymentMethodId:
          type: string
          format: uuid
          nullable: true
        transactionFrequency:
          $ref: '#/components/schemas/RecurringFrequency'
        transactionType:
          $ref: '#/components/schemas/ExpenseType'

    MarkTransactionAsPaidRequest:
      type: object
      required: [budgetPeriodId, paidAmount, paidDate]
      properties:
        budgetPeriodId:
          type: string
          format: uuid
        paidAmount:
          $ref: '#/components/schemas/Money'
        paidDate:
          type: string
          format: date

    BudgetPeriodIdRequest:
      type: object
      required: [budgetPeriodId]
      properties:
        budgetPeriodId:
          type: string
          format: uuid

    SetTransactionExcludedRequest:
      type: object
      required: [budgetPeriodId, excluded]
      properties:
        budgetPeriodId:
          type: string
          format: uuid
        excluded:
          type: boolean

paths:
  /rest/v1/ping:
    get:
      operationId: getPing
      security: []
      tags: [meta]
      summary: Liveness probe for the REST transport.
      description: |
        Exists to prove the REST pipeline end to end — spec, codegen on all
        three clients, routing, CORS, h2c and rate limiting — independently of
        any real endpoint. Public and uncached.
      responses:
        '200':
          description: The REST transport is serving.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/countries:
    get:
      operationId: listCountries
      security: []
      tags: [reference]
      summary: Every enabled country with its feature flags.
      description: |
        Public. The canonical example of what belongs on this transport: three
        rows that change roughly never, fetched by the registration form and
        the profile editor, identical for every caller on earth.
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The country list.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
        '304':
          $ref: '#/components/responses/NotModified'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/status/banner:
    get:
      operationId: getActiveStatusBanner
      security: []
      tags: [status]
      summary: The status banner currently in effect, if any.
      description: |
        Public, and that is the point — a signed-out visitor looking at a
        broken login screen is one of the people who most needs to read it.
        At most one banner is ever returned.
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The active banner, or an empty object when none is live.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusBannerResponse'
        '304':
          $ref: '#/components/responses/NotModified'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/changelog:
    get:
      operationId: listChangelog
      tags: [changelog]
      summary: Published release notes.
      description: |
        Authenticated but not superuser-gated — this is the reader-facing call
        behind the "what's new" prompt and the Help browser. The response is
        the same for every authenticated caller, so it is cacheable, but only
        privately: a shared cache would need `Vary: Authorization`, which
        defeats the purpose.
      security:
        - bearerAuth: []
      parameters:
        - name: component
          in: query
          required: false
          description: Repeat to request several. Omit for every component.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ChangelogComponent'
          style: form
          explode: true
        - name: limitPerComponent
          in: query
          required: false
          description: Newest first. Defaults to 20.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Matching releases plus the running server version.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangelogResponse'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── status/changelog writes (C#/.NET rewrite — see openapi/README.md's
  #    "Two eras, one file") ───────────────────────────────────────────────────

  /rest/v1/status/banners:
    post:
      operationId: createStatusBanner
      tags: [status]
      summary: Author a new status banner.
      description: |
        Superuser-only, enforced server-side regardless of the bearer token's
        owner. No admin UI — called directly during an incident.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStatusBannerRequest'
      responses:
        '200':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusBannerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a superuser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listStatusBanners
      tags: [status]
      summary: The operator's banner history, including expired rows.
      description: Superuser-only. Not the client-facing view — see getActiveStatusBanner for that.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Newest first. Defaults to 50.
          schema:
            type: integer
            format: int32
            minimum: 1
      responses:
        '200':
          description: The operator's banner history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusBannerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a superuser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/status/banners/{id}/expire:
    post:
      operationId: expireStatusBanner
      tags: [status]
      summary: Take a banner down ahead of its scheduled end.
      description: |
        Moves endsAt to now. Rows are never deleted — what was announced, and
        when, is worth keeping. Superuser-only.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusBannerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a superuser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No banner with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/changelog/releases:
    post:
      operationId: createChangelogRelease
      tags: [changelog]
      summary: Publish one release and all its items.
      description: |
        Superuser-only. No admin UI — releases are normally published by
        running `WellSpent-backend/scripts/changelog.sh` against a JSON file
        authored in the repo alongside the code, at the moment the version
        actually ships; this is the equivalent direct call for the new
        backend. A duplicate (component, version) is rejected — republishing
        a version has to fail loudly, not list it twice.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChangelogReleaseRequest'
      responses:
        '200':
          description: Published.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangelogReleaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a superuser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── auth (C#/.NET rewrite — see openapi/README.md's "Two eras, one file") ──

  /rest/v1/auth/register:
    post:
      operationId: registerUser
      security: []
      tags: [auth]
      summary: Create an account with email + password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: Account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: An account with this email already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/login:
    post:
      operationId: login
      security: []
      tags: [auth]
      summary: Verify credentials and issue a token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid email or password, or the account uses OAuth login only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The account is inactive or deactivated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/logout:
    post:
      operationId: logout
      tags: [auth]
      summary: Stub — JWT is stateless; the client discards its own token.
      security: []
      responses:
        '200':
          description: Always succeeds.
        '429':
          $ref: '#/components/responses/RateLimited'

  /rest/v1/auth/refresh-token:
    post:
      operationId: refreshToken
      security: []
      tags: [auth]
      summary: Not implemented — mirrors the Go backend, which also returns Unimplemented here.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '501':
          $ref: '#/components/responses/NotImplemented'

  /rest/v1/auth/google/url:
    get:
      operationId: getGoogleAuthUrl
      security: []
      tags: [auth]
      summary: Build the Google OAuth consent-screen URL.
      parameters:
        - name: state
          in: query
          required: true
          description: CSRF token from the client.
          schema:
            type: string
      responses:
        '200':
          description: The URL to redirect the browser to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAuthUrlResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /rest/v1/auth/google/exchange:
    post:
      operationId: exchangeGoogleCode
      security: []
      tags: [auth]
      summary: Exchange a Google OAuth authorization code for a session.
      description: |
        Resolves by Google's stable subject first, falling back to matching an
        existing account by email — so a user who signed up with email/
        password and later uses Google with the same address signs into that
        account rather than creating a duplicate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleExchangeRequest'
      responses:
        '200':
          description: Authenticated. Always a 90-day token — neither OAuth flow has a "remember me" control.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthSignInResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/apple/sign-in:
    post:
      operationId: signInWithApple
      security: []
      tags: [auth]
      summary: Resolve a native Sign in with Apple credential to a session.
      description: |
        Mirrors exchangeGoogleCode's account-resolution order. Linking to a
        pre-existing account by email is refused when Apple reports the
        address unverified — only creating a fresh account is safe on that
        signal.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppleSignInRequest'
      responses:
        '200':
          description: Authenticated. Always a 90-day token — neither OAuth flow has a "remember me" control.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthSignInResponse'
        '400':
          description: Invalid or unverifiable identity token, missing email, or Apple did not confirm the email address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The resolved account is inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/verify-email:
    post:
      operationId: verifyEmail
      security: []
      tags: [auth]
      summary: Redeem a verification-email token.
      description: Errors are deliberately generic — a caller cannot distinguish "wrong token" from "expired" from "never existed".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Verified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmailResponse'
        '400':
          description: Invalid or expired verification token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/resend-verification-email:
    post:
      operationId: resendVerificationEmail
      security: []
      tags: [auth]
      summary: Re-send the verification-email link.
      description: |
        Always succeeds (200) for an unknown or already-verified email, to
        avoid leaking account existence — only a too-soon repeat request for a
        real, unverified account is rejected (60-second cooldown).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerificationEmailRequest'
      responses:
        '200':
          description: Always returned for an unknown or already-verified email.
        '400':
          description: Requested again within the 60-second cooldown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── users (C#/.NET rewrite) ─────────────────────────────────────────────────

  /rest/v1/users/me:
    get:
      operationId: getMe
      tags: [users]
      summary: The authenticated user's own profile.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The caller's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: updateMe
      tags: [users]
      summary: Replace the authenticated user's profile.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeRequest'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteMe
      tags: [users]
      summary: Soft-delete the authenticated user's account.
      description: |
        Deactivates the account immediately (30-day recovery window via
        support) and revokes the user's Apple credentials with Apple first,
        if any are on file, as App Store Review 5.1.1(v) requires.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/users/me/change-password:
    post:
      operationId: changePassword
      tags: [users]
      summary: Change the authenticated user's password.
      description: Requires the current password — unlike changeEmail, which does not.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Changed.
        '400':
          description: Current password incorrect, or the account uses OAuth login only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/users/me/change-email:
    post:
      operationId: changeEmail
      tags: [users]
      summary: Replace the authenticated user's email address.
      description: |
        Resets verification for the new address and sends a fresh
        verification link. Deliberately does not require the current
        password — the bearer token already proves the session, and an
        OAuth-only account has no password to check.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeEmailRequest'
      responses:
        '200':
          description: Changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEmailResponse'
        '400':
          description: Invalid email address, or this is already the caller's address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── notifications (C#/.NET rewrite — see openapi/README.md's "Two eras,
  #    one file") ─────────────────────────────────────────────────────────────

  /rest/v1/notifications:
    get:
      operationId: listNotifications
      tags: [notifications]
      summary: The authenticated user's notifications, newest first.
      security:
        - bearerAuth: []
      parameters:
        - name: budgetProfileId
          in: query
          required: false
          description: Omit to return notifications for every budget.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Defaults to 50.
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Matching notifications plus the caller's total unread count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotificationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/notifications/mark-read:
    post:
      operationId: markNotificationsRead
      tags: [notifications]
      summary: Mark one or more notifications as read.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkNotificationsReadRequest'
      responses:
        '200':
          description: Marked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/notifications/unread-count:
    get:
      operationId: getUnreadCount
      tags: [notifications]
      summary: The authenticated user's unread notification count.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadCountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/notifications/alert-subscriptions:
    get:
      operationId: listAlertSubscriptions
      tags: [notifications]
      summary: The authenticated user's alert subscriptions for a budget.
      description: No membership check — scoped by (userId, budgetProfileId) alone, so a non-member simply gets an empty list.
      security:
        - bearerAuth: []
      parameters:
        - name: budgetProfileId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Matching subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertSubscriptionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: upsertAlertSubscription
      tags: [notifications]
      summary: Create or update an alert subscription.
      description: |
        Upserts on (userId, budgetProfileId, alertType, categoryId). The
        caller must be a budget member — unlike invites' admin checks, a
        non-member here gets a plain 404, not a 403 (mirrors the Go service
        exactly). Free tier: `new_transaction` requires Pro, and free
        accounts are capped at 2 subscriptions per budget.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertAlertSubscriptionRequest'
      responses:
        '200':
          description: Saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertSubscriptionResponse'
        '400':
          description: Free-tier limit reached, or new_transaction requires Pro.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: The caller is not a member of this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/notifications/alert-subscriptions/{id}:
    delete:
      operationId: deleteAlertSubscription
      tags: [notifications]
      summary: Delete an alert subscription.
      description: No-op (still 200) when the subscription doesn't exist or isn't owned by the caller — mirrors the Go repository's unconditional delete.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Deleted (or already absent).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/notifications/device-tokens:
    post:
      operationId: registerDeviceToken
      tags: [notifications]
      summary: Register an APNs device token for push delivery.
      description: Upserts by token — the same physical device re-registering just updates its owner.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceTokenRequest'
      responses:
        '200':
          description: Registered.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── invites (C#/.NET rewrite) ────────────────────────────────────────────────

  /rest/v1/invites:
    post:
      operationId: sendBudgetInvite
      tags: [invites]
      summary: Invite a collaborator or viewer to a budget.
      description: Admin only. budgetName/inviterName in the response are empty — the caller already knows their own budget.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendBudgetInviteRequest'
      responses:
        '200':
          description: Sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetInviteResponse'
        '400':
          description: Disallowed role (e.g. admin), or the linked budgetPersonId doesn't exist in this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listBudgetInvites
      tags: [invites]
      summary: List pending and cancelled invites for a budget.
      description: Admin only. budgetName/inviterName are empty, same as sendBudgetInvite.
      security:
        - bearerAuth: []
      parameters:
        - name: budgetProfileId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Matching invites.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetInviteListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/invites/{id}/cancel:
    post:
      operationId: cancelBudgetInvite
      tags: [invites]
      summary: Cancel a pending invite.
      description: Admin only.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Cancelled.
        '400':
          description: Only pending invites can be cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/invite-tokens/{token}:
    get:
      operationId: getBudgetInvite
      tags: [invites]
      summary: Invite details by token — the public preview page shown before the user authenticates.
      description: budgetName/inviterName are populated here (the only invite endpoint that does this).
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The invite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetInviteResponse'
        '400':
          description: The invite has been cancelled, already accepted, or has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/invite-tokens/{token}/accept:
    post:
      operationId: acceptBudgetInvite
      tags: [invites]
      summary: Accept an invite, linking the authenticated user to the budget.
      description: |
        If the invitee has no account they must register first — this RPC
        always requires a bearer token. Idempotent against a narrow race
        (the caller already being a member while the invite row is still
        pending); once the invite's own status is "accepted" a repeat call
        fails the same way getBudgetInvite does.
      security:
        - bearerAuth: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptBudgetInviteResponse'
        '400':
          description: The invite has been cancelled, already accepted, or has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/budgets:
    post:
      operationId: createBudgetProfile
      tags: [budgets]
      summary: Create the caller's budget profile and its first period.
      description: Capped at one owned profile per account, regardless of plan tier. Auto-adds the caller as the first BudgetPerson (admin).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBudgetProfileRequest'
      responses:
        '200':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBudgetProfileResponse'
        '400':
          description: The caller already owns a budget, or the name is a duplicate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listBudgetProfiles
      tags: [budgets]
      summary: Budgets the caller owns or is an active member of.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Matching profiles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetProfileListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/budgets/{id}:
    get:
      operationId: getBudgetProfile
      tags: [budgets]
      summary: A single budget profile.
      description: Any active member may read it.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a member of this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No budget profile with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: updateBudgetProfile
      tags: [budgets]
      summary: Rename a budget or change its cycle.
      description: Admin only.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBudgetProfileRequest'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteBudgetProfile
      tags: [budgets]
      summary: Delete a budget profile and everything hanging off it.
      description: Admin only. Cascades to people, periods, income, savings, transactions, and payment methods.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/budgets/{id}/carryover-enabled:
    put:
      operationId: setBudgetCarryoverEnabled
      tags: [budgets]
      summary: Turn period carryover on or off.
      description: Admin only. Its own endpoint rather than a field on updateBudgetProfile, so an older client calling that one can't silently switch this back off by omission.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnabledRequest'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/budgets/{id}/auto-update-planned-amount:
    put:
      operationId: setBudgetAutoUpdatePlannedAmount
      tags: [budgets]
      summary: Turn fixed-expense auto-replanning on or off.
      description: Admin only. Same narrow-endpoint reasoning as setBudgetCarryoverEnabled.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnabledRequest'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/budgets/{id}/periods:
    post:
      operationId: createBudgetPeriod
      tags: [budgets]
      summary: Roll the budget forward to its next cycle window.
      description: |
        Admin only. Idempotent — if the current period hasn't ended yet, returns
        it unchanged rather than creating a second one. This backend's version
        of this endpoint only creates/archives the period row itself; income
        pre-fill, fixed-expense spawn, and carryover land in later migration
        batches (see docs/features/refactor-backend-csharp.md) — the live Go
        backend is still the one actually running period rollovers in
        production.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The current (possibly newly-created) period.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPeriodResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listBudgetPeriods
      tags: [budgets]
      summary: Every period for a budget, newest first.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Matching periods.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPeriodListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a member of this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/budget-periods/{id}:
    get:
      operationId: getBudgetPeriod
      tags: [budgets]
      summary: A single period by its own id.
      description: Separate namespace from /budgets/{id}/periods — the profile is resolved from the period, not the other way round.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The period.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPeriodResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a member of this period's budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No period with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/budgets/{id}/people:
    post:
      operationId: addBudgetPeople
      tags: [budgets]
      summary: Add one or more people to a budget.
      description: Admin only. Free tier caps a budget at 2 active people. A linked userId must be in the same country as the budget.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBudgetPeopleRequest'
      responses:
        '200':
          description: Added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBudgetPeopleResponse'
        '400':
          description: Free-tier limit reached, a duplicate name, or a country mismatch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listBudgetPeople
      tags: [budgets]
      summary: Every active person on a budget.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Matching people.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPersonListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a member of this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/budgets/{id}/people/{personId}:
    put:
      operationId: updateBudgetPerson
      tags: [budgets]
      summary: Change a person's display color.
      description: Admin only.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: personId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBudgetPersonRequest'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPersonResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not an admin on this budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: removeBudgetPerson
      tags: [budgets]
      summary: Remove a person from a budget.
      description: Admin only. The profile owner cannot be removed. Omit replacementPersonId for a plain soft-remove; set it (plus replacementPaymentMethodId if the person had one) to reassign their income entries and payment-method transactions first.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: personId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: replacementPersonId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: replacementPaymentMethodId
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Removed.
        '400':
          description: Attempted to remove the budget owner, or replacementPersonId doesn't belong to this budget.
          content:
            application/json:
              schema:
[...]
