openapi: 3.0.3

info:
  title: WellSpent Public REST API
  version: 1.0.0
  license:
    name: Proprietary
    url: https://bewellspent.com
  description: |
    The parts of the WellSpent API that return the **same response for every
    caller** and change rarely.

    Everything else — all personalized reads and every mutation — stays on
    ConnectRPC (`buf.build/bewellspent/wellspent`). Transport follows data
    shape: a response that is identical for everyone should be cacheable by
    the browser and by a CDN, and Connect's unary-POST framing makes that
    impossible. A response scoped to one user gains nothing from HTTP caching
    and everything from a shared typed schema.

    Read `openapi/README.md` in this repo before adding an endpoint here.

servers:
  - url: https://api.bewellspent.com
    description: Production
  - url: http://localhost:8080
    description: Local development

tags:
  - name: meta
    description: Infrastructure probes.
  - name: reference
    description: Global reference data.
  - name: status
    description: |
      Operator-authored service status. The public GET was always here; the
      superuser-only write paths (create/list/expire) are new, converted from
      `StatusService` in status.proto as part of the C#/.NET rewrite (issue
      #78/#81) — see openapi/README.md's "Two eras, one file". The Go backend
      keeps serving the public read over Connect-adjacent REST and the writes
      over Connect until the rewrite's clients cut over.
  - name: changelog
    description: |
      Release notes. The authenticated GET was always here; the superuser-only
      create path is new, converted from `ChangelogService` in changelog.proto
      as part of the C#/.NET rewrite (issue #78/#81) — see openapi/README.md's
      "Two eras, one file".
  - name: auth
    description: |
      Part of the C#/.NET rewrite's full REST contract (issue #78/#80) — see
      openapi/README.md's "Two eras, one file". Converted 1:1 from
      `AuthService` in `auth.proto`; the Go backend keeps serving these over
      Connect until the rewrite's clients cut over. Every endpoint here is
      public — no session exists yet.
  - name: users
    description: |
      Part of the C#/.NET rewrite's full REST contract (issue #78/#80).
      Converted 1:1 from `UserService` in `user.proto`. Every endpoint here
      requires bearerAuth and operates on the caller's own account only.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The same JWT issued by `AuthService/Login`. Identical verification to the Connect interceptor.

  parameters:
    IfNoneMatch:
      name: If-None-Match
      in: header
      required: false
      description: Return `304 Not Modified` when the entity tag still matches.
      schema:
        type: string

  headers:
    ETag:
      description: Entity tag for conditional requests.
      schema:
        type: string
    CacheControl:
      description: Caching policy for this response.
      schema:
        type: string

  responses:
    NotModified:
      description: The cached copy is still current.
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
        Cache-Control:
          $ref: '#/components/headers/CacheControl'
    RateLimited:
      description: |
        Too many requests from this IP. The rate limiter wraps every route on
        the mux, REST and Connect alike, so any endpoint here can return this.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: The resource already exists (e.g. an email address already in use).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotImplemented:
      description: Mirrors the Go backend's RefreshToken, which also returns Unimplemented — not a gap introduced by the rewrite.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Stable, machine-readable reason.
          example: unauthenticated
        message:
          type: string
          description: Human-readable detail. Not for display to end users.
      description: |
        Mirrors the shape `internal/handler/errors.go` produces for Connect, so
        both transports fail the same way.

    CountryFeature:
      type: object
      required: [name, isEnabled]
      properties:
        name:
          type: string
          example: before_tax_income
        isEnabled:
          type: boolean

    Country:
      type: object
      required: [code, name, isEnabled, features]
      properties:
        code:
          type: string
          description: ISO 3166-1 alpha-2.
          example: US
        name:
          type: string
          example: United States
        isEnabled:
          type: boolean
        features:
          type: array
          items:
            $ref: '#/components/schemas/CountryFeature'

    CountriesResponse:
      type: object
      required: [countries]
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'

    StatusBannerSeverity:
      type: string
      enum: [info, warning, critical]
      description: |
        Ordered: when more than one banner is live, the highest severity wins,
        then the most recently created. `info` and `warning` are dismissable
        per device; `critical` is not.

    StatusBanner:
      type: object
      required: [id, severity, messageEn, messageEs, startsAt, endsAt, createdAt]
      properties:
        id:
          type: string
          format: uuid
        severity:
          $ref: '#/components/schemas/StatusBannerSeverity'
        messageEn:
          type: string
          maxLength: 300
        messageEs:
          type: string
          maxLength: 300
          description: Empty means clients fall back to the English text.
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    StatusBannerResponse:
      type: object
      properties:
        banner:
          $ref: '#/components/schemas/StatusBanner'
      description: |
        `banner` is absent when nothing is live. Deliberately a successful
        empty response rather than a 404 — every client calls this on every
        load and the quiet case is overwhelmingly the common one.

    ChangelogComponent:
      type: string
      enum: [web, ios, server]
      description: One per shipping artifact. Background jobs ship inside the server image and have no separately visible version.

    ChangeType:
      type: string
      enum: [added, fixed, changed]

    ChangelogItem:
      type: object
      required: [changeType, summaryEn, summaryEs]
      properties:
        changeType:
          $ref: '#/components/schemas/ChangeType'
        summaryEn:
          type: string
          maxLength: 300
        summaryEs:
          type: string
          maxLength: 300
          description: Empty means clients fall back to the English text.

    ChangelogRelease:
      type: object
      required: [id, component, version, releasedAt, items, createdAt]
      properties:
        id:
          type: string
          format: uuid
        component:
          $ref: '#/components/schemas/ChangelogComponent'
        version:
          type: string
          description: As that component spells it — semver for web and server, `MARKETING_VERSION` for iOS.
          example: 1.30.0
        releasedAt:
          type: string
          format: date-time
          description: When the version reached users, which is not when the row was written.
        items:
          type: array
          items:
            $ref: '#/components/schemas/ChangelogItem'
          description: In the order the operator wrote them. Grouping by changeType is left to clients.
        createdAt:
          type: string
          format: date-time

    ChangelogResponse:
      type: object
      required: [releases, currentServerVersion]
      properties:
        releases:
          type: array
          items:
            $ref: '#/components/schemas/ChangelogRelease'
          description: Newest first within each component.
        currentServerVersion:
          type: string
          description: |
            What this server build calls itself. A client knows its own version
            but cannot otherwise tell how far the backend has moved since it
            last looked.
          example: 1.1.0

    # ── status/changelog writes (C#/.NET rewrite — see the "status"/"changelog"
    #    tags and openapi/README.md's "Two eras, one file") ────────────────────

    CreateStatusBannerRequest:
      type: object
      required: [severity, messageEn, endsAt]
      properties:
        severity:
          $ref: '#/components/schemas/StatusBannerSeverity'
        messageEn:
          type: string
          maxLength: 300
        messageEs:
          type: string
          maxLength: 300
          description: Optional. Falls back to the English text on clients when empty.
        startsAt:
          type: string
          format: date-time
          description: Optional — defaults to now, so the common case of "announce this immediately" needs no timestamp arithmetic under pressure.
        endsAt:
          type: string
          format: date-time
          description: Required, and must be after startsAt and in the future.

    StatusBannerListResponse:
      type: object
      required: [banners]
      properties:
        banners:
          type: array
          items:
            $ref: '#/components/schemas/StatusBanner'
          description: The operator's full history, including expired rows — not the client-facing view.

    CreateChangelogItemRequest:
      type: object
      required: [changeType, summaryEn]
      properties:
        changeType:
          $ref: '#/components/schemas/ChangeType'
        summaryEn:
          type: string
          maxLength: 300
        summaryEs:
          type: string
          maxLength: 300
          description: Optional. Falls back to the English text on clients when empty.

    CreateChangelogReleaseRequest:
      type: object
      required: [component, version, items]
      properties:
        component:
          $ref: '#/components/schemas/ChangelogComponent'
        version:
          type: string
          maxLength: 40
        releasedAt:
          type: string
          format: date-time
          description: Optional — defaults to now, since publishing normally happens at release.
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/CreateChangelogItemRequest'
          description: At least one required. A release with nothing to say should not be published.

    ChangelogReleaseResponse:
      type: object
      required: [release]
      properties:
        release:
          $ref: '#/components/schemas/ChangelogRelease'

    PingResponse:
      type: object
      required: [status, serverVersion]
      properties:
        status:
          type: string
          enum: [ok]
        serverVersion:
          type: string

    # ── auth / users (C#/.NET rewrite — see the "auth"/"users" tags) ──────────

    TokenResponse:
      type: object
      required: [accessToken, tokenType, expiresIn]
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
          enum: [bearer]
        expiresIn:
          type: integer
          format: int64
          description: Seconds until the token expires.

    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName, countryCode, stateCode, language, currency, captchaToken]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          description: '≥8 characters, at least one uppercase, lowercase, digit, and special character.'
        firstName:
          type: string
        lastName:
          type: string
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2, e.g. "US". Empty for none.
        stateCode:
          type: string
          description: US only, e.g. "CA". Empty for non-US.
        language:
          type: string
          description: BCP 47 locale code. Empty defaults to "en".
        currency:
          type: string
          description: ISO 4217 currency code. Empty defaults to "USD".
        captchaToken:
          type: string
          description: Cloudflare Turnstile response token. Only enforced when the server has captcha enforcement enabled.

    LoginRequest:
      type: object
      required: [email, password, rememberMe]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        rememberMe:
          type: boolean
          description: true issues a 90-day token; false (default) issues a 24-hour token.

    LoginResponse:
      type: object
      required: [accessToken, tokenType, expiresIn, language, currency]
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
          enum: [bearer]
        expiresIn:
          type: integer
          format: int64
        language:
          type: string
          description: The user's stored locale preference.
        currency:
          type: string
          description: The user's stored currency preference.

    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string

    GoogleAuthUrlResponse:
      type: object
      required: [url]
      properties:
        url:
          type: string

    GoogleExchangeRequest:
      type: object
      required: [code, redirectUri, language, currency]
      properties:
        code:
          type: string
        redirectUri:
          type: string
        language:
          type: string
          description: Used for new users only.
        currency:
          type: string
          description: Used for new users only.

    OAuthSignInResponse:
      type: object
      required: [accessToken, expiresIn, isNewUser, language, currency]
      properties:
        accessToken:
          type: string
        expiresIn:
          type: integer
          format: int64
        isNewUser:
          type: boolean
        language:
          type: string
          description: New user — from the request. Returning user — from their stored profile.
        currency:
          type: string
          description: New user — from the request. Returning user — from their stored profile.

    AppleSignInRequest:
      type: object
      required: [identityToken, authorizationCode, firstName, lastName, language, currency]
      properties:
        identityToken:
          type: string
          description: Apple id_token (RS256 JWT) from ASAuthorizationAppleIDCredential — verified server-side against Apple's JWKS.
        authorizationCode:
          type: string
          description: One-time code, exchanged server-side for a refresh token so the account can be revoked on deletion.
        firstName:
          type: string
          description: Apple supplies the name only on the very first authorization, never again — persisted on first link.
        lastName:
          type: string
        language:
          type: string
          description: Used for new users only — defaults to "en".
        currency:
          type: string
          description: Used for new users only — defaults to "USD".

    VerifyEmailRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string

    VerifyEmailResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean

    ResendVerificationEmailRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    UserPlan:
      type: string
      enum: [free, pro, lifetime]

    User:
      type: object
      required: [id, email, isActive, isVerified, createdAt, filingStatus, taxPaymentFrequency, language, currency, plan, hasApplePrivateEmail]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        isActive:
          type: boolean
        isVerified:
          type: boolean
          description: Whether this account may use the app — already accounts for the test-account exemption. Clients gate on this and nothing else.
        createdAt:
          type: string
          format: date-time
        countryCode:
          type: string
          nullable: true
          description: ISO 3166-1 alpha-2, e.g. "US".
        stateCode:
          type: string
          nullable: true
          description: US only, e.g. "CA".
        filingStatus:
          type: integer
          description: 'Proto FilingStatus enum value: 0=unspecified, 1=single, 2=married_filing_jointly, 3=married_filing_separately, 4=head_of_household, 5=qualifying_surviving_spouse.'
        taxPaymentFrequency:
          type: integer
          description: 'Proto TaxPaymentFrequency enum value — doubles as the window length in months: 0=unspecified, 1=monthly, 3=quarterly, 4=four_monthly, 6=semi_annual, 12=annual.'
        language:
          type: string
          description: BCP 47 locale code.
        currency:
          type: string
          description: ISO 4217 currency code.
        plan:
          $ref: '#/components/schemas/UserPlan'
        hasApplePrivateEmail:
          type: boolean
          description: True when the address is an Apple "Hide My Email" alias — clients show "Signed with Apple" rather than the address.

    GetMeResponse:
      type: object
      required: [user]
      properties:
        user:
          $ref: '#/components/schemas/User'

    UpdateMeRequest:
      type: object
      required: [firstName, lastName, countryCode, stateCode, filingStatus, taxPaymentFrequency, language, currency]
      description: |
        Full profile replace, not a partial patch: firstName/lastName/
        countryCode/stateCode are cleared to null when sent empty rather than
        left unchanged, and every other field is always written as given.
      properties:
        firstName:
          type: string
        lastName:
          type: string
        countryCode:
          type: string
        stateCode:
          type: string
        filingStatus:
          type: integer
        taxPaymentFrequency:
          type: integer
        language:
          type: string
        currency:
          type: string

    UpdateMeResponse:
      type: object
      required: [user]
      properties:
        user:
          $ref: '#/components/schemas/User'

    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string

    ChangeEmailRequest:
      type: object
      required: [newEmail]
      properties:
        newEmail:
          type: string
          format: email

    ChangeEmailResponse:
      type: object
      required: [user]
      description: The updated user, with isVerified now false.
      properties:
        user:
          $ref: '#/components/schemas/User'

paths:
  /rest/v1/ping:
    get:
      operationId: getPing
      security: []
      tags: [meta]
      summary: Liveness probe for the REST transport.
      description: |
        Exists to prove the REST pipeline end to end — spec, codegen on all
        three clients, routing, CORS, h2c and rate limiting — independently of
        any real endpoint. Public and uncached.
      responses:
        '200':
          description: The REST transport is serving.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/countries:
    get:
      operationId: listCountries
      security: []
      tags: [reference]
      summary: Every enabled country with its feature flags.
      description: |
        Public. The canonical example of what belongs on this transport: three
        rows that change roughly never, fetched by the registration form and
        the profile editor, identical for every caller on earth.
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The country list.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
        '304':
          $ref: '#/components/responses/NotModified'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/status/banner:
    get:
      operationId: getActiveStatusBanner
      security: []
      tags: [status]
      summary: The status banner currently in effect, if any.
      description: |
        Public, and that is the point — a signed-out visitor looking at a
        broken login screen is one of the people who most needs to read it.
        At most one banner is ever returned.
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The active banner, or an empty object when none is live.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusBannerResponse'
        '304':
          $ref: '#/components/responses/NotModified'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/changelog:
    get:
      operationId: listChangelog
      tags: [changelog]
      summary: Published release notes.
      description: |
        Authenticated but not superuser-gated — this is the reader-facing call
        behind the "what's new" prompt and the Help browser. The response is
        the same for every authenticated caller, so it is cacheable, but only
        privately: a shared cache would need `Vary: Authorization`, which
        defeats the purpose.
      security:
        - bearerAuth: []
      parameters:
        - name: component
          in: query
          required: false
          description: Repeat to request several. Omit for every component.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ChangelogComponent'
          style: form
          explode: true
        - name: limitPerComponent
          in: query
          required: false
          description: Newest first. Defaults to 20.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Matching releases plus the running server version.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangelogResponse'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── status/changelog writes (C#/.NET rewrite — see openapi/README.md's
  #    "Two eras, one file") ───────────────────────────────────────────────────

  /rest/v1/status/banners:
    post:
      operationId: createStatusBanner
      tags: [status]
      summary: Author a new status banner.
      description: |
        Superuser-only, enforced server-side regardless of the bearer token's
        owner. No admin UI — called directly during an incident.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStatusBannerRequest'
      responses:
        '200':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusBannerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a superuser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listStatusBanners
      tags: [status]
      summary: The operator's banner history, including expired rows.
      description: Superuser-only. Not the client-facing view — see getActiveStatusBanner for that.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Newest first. Defaults to 50.
          schema:
            type: integer
            format: int32
            minimum: 1
      responses:
        '200':
          description: The operator's banner history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusBannerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a superuser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/status/banners/{id}/expire:
    post:
      operationId: expireStatusBanner
      tags: [status]
      summary: Take a banner down ahead of its scheduled end.
      description: |
        Moves endsAt to now. Rows are never deleted — what was announced, and
        when, is worth keeping. Superuser-only.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusBannerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a superuser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No banner with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/changelog/releases:
    post:
      operationId: createChangelogRelease
      tags: [changelog]
      summary: Publish one release and all its items.
      description: |
        Superuser-only. No admin UI — releases are normally published by
        running `WellSpent-backend/scripts/changelog.sh` against a JSON file
        authored in the repo alongside the code, at the moment the version
        actually ships; this is the equivalent direct call for the new
        backend. A duplicate (component, version) is rejected — republishing
        a version has to fail loudly, not list it twice.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChangelogReleaseRequest'
      responses:
        '200':
          description: Published.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangelogReleaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is not a superuser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── auth (C#/.NET rewrite — see openapi/README.md's "Two eras, one file") ──

  /rest/v1/auth/register:
    post:
      operationId: registerUser
      security: []
      tags: [auth]
      summary: Create an account with email + password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: Account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: An account with this email already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/login:
    post:
      operationId: login
      security: []
      tags: [auth]
      summary: Verify credentials and issue a token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid email or password, or the account uses OAuth login only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The account is inactive or deactivated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/logout:
    post:
      operationId: logout
      tags: [auth]
      summary: Stub — JWT is stateless; the client discards its own token.
      security: []
      responses:
        '200':
          description: Always succeeds.
        '429':
          $ref: '#/components/responses/RateLimited'

  /rest/v1/auth/refresh-token:
    post:
      operationId: refreshToken
      security: []
      tags: [auth]
      summary: Not implemented — mirrors the Go backend, which also returns Unimplemented here.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '501':
          $ref: '#/components/responses/NotImplemented'

  /rest/v1/auth/google/url:
    get:
      operationId: getGoogleAuthUrl
      security: []
      tags: [auth]
      summary: Build the Google OAuth consent-screen URL.
      parameters:
        - name: state
          in: query
          required: true
          description: CSRF token from the client.
          schema:
            type: string
      responses:
        '200':
          description: The URL to redirect the browser to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAuthUrlResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /rest/v1/auth/google/exchange:
    post:
      operationId: exchangeGoogleCode
      security: []
      tags: [auth]
      summary: Exchange a Google OAuth authorization code for a session.
      description: |
        Resolves by Google's stable subject first, falling back to matching an
        existing account by email — so a user who signed up with email/
        password and later uses Google with the same address signs into that
        account rather than creating a duplicate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleExchangeRequest'
      responses:
        '200':
          description: Authenticated. Always a 90-day token — neither OAuth flow has a "remember me" control.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthSignInResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/apple/sign-in:
    post:
      operationId: signInWithApple
      security: []
      tags: [auth]
      summary: Resolve a native Sign in with Apple credential to a session.
      description: |
        Mirrors exchangeGoogleCode's account-resolution order. Linking to a
        pre-existing account by email is refused when Apple reports the
        address unverified — only creating a fresh account is safe on that
        signal.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppleSignInRequest'
      responses:
        '200':
          description: Authenticated. Always a 90-day token — neither OAuth flow has a "remember me" control.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthSignInResponse'
        '400':
          description: Invalid or unverifiable identity token, missing email, or Apple did not confirm the email address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The resolved account is inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/verify-email:
    post:
      operationId: verifyEmail
      security: []
      tags: [auth]
      summary: Redeem a verification-email token.
      description: Errors are deliberately generic — a caller cannot distinguish "wrong token" from "expired" from "never existed".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Verified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmailResponse'
        '400':
          description: Invalid or expired verification token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/auth/resend-verification-email:
    post:
      operationId: resendVerificationEmail
      security: []
      tags: [auth]
      summary: Re-send the verification-email link.
      description: |
        Always succeeds (200) for an unknown or already-verified email, to
        avoid leaking account existence — only a too-soon repeat request for a
        real, unverified account is rejected (60-second cooldown).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerificationEmailRequest'
      responses:
        '200':
          description: Always returned for an unknown or already-verified email.
        '400':
          description: Requested again within the 60-second cooldown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── users (C#/.NET rewrite) ─────────────────────────────────────────────────

  /rest/v1/users/me:
    get:
      operationId: getMe
      tags: [users]
      summary: The authenticated user's own profile.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The caller's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: updateMe
      tags: [users]
      summary: Replace the authenticated user's profile.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeRequest'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteMe
      tags: [users]
      summary: Soft-delete the authenticated user's account.
      description: |
        Deactivates the account immediately (30-day recovery window via
        support) and revokes the user's Apple credentials with Apple first,
        if any are on file, as App Store Review 5.1.1(v) requires.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/users/me/change-password:
    post:
      operationId: changePassword
      tags: [users]
      summary: Change the authenticated user's password.
      description: Requires the current password — unlike changeEmail, which does not.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Changed.
        '400':
          description: Current password incorrect, or the account uses OAuth login only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /rest/v1/users/me/change-email:
    post:
      operationId: changeEmail
      tags: [users]
      summary: Replace the authenticated user's email address.
      description: |
        Resets verification for the new address and sends a fresh
        verification link. Deliberately does not require the current
        password — the bearer token already proves the session, and an
        OAuth-only account has no password to check.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeEmailRequest'
      responses:
        '200':
          description: Changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEmailResponse'
        '400':
          description: Invalid email address, or this is already the caller's address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
